.bg-img {
  /* background-image: url("../../Images/girl-vietnam.png"),
    url("../../Images/flower-sakura.png"); */

  /* background-position: bottom -80px right 100px, bottom 50px right 100px, 0; */
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

  background-position: bottom -80px;

  /* background-image: url("../../Images/girl-vietnam.png"),
    url("../../Images/flower-sakura.png"),
    linear-gradient(
      105.5deg,
      rgba(31, 212, 248, 1) 11%,
      rgba(218, 15, 183, 1) 74.9%
    ); */

  background-image: url("../../Images/whiteHair.jpg");
  background-color: #fa709a;
}
.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
  .res {
    background: linear-gradient(
      to right,
      #fdc830,
      #f37335
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center bottom;
  }
  .box {
    background-color: transparent;
    color: white;
    box-shadow: 0 0px 0px 0 rgb(0, 0, 0) !important;
  }
}
.btn-pink {
  color: #ffffffff;
  background-image: linear-gradient(to right, #fdc830 0%, #f37335 100%);
  border: 1px solid #f37335;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #f37335;
  background-image: none;
  border-color: #f37335;
}

.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  background-image: none;
}

.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #a511b0;
  border-color: #a511b0;
}

.btn-pink .badge {
  color: #a511b0;
  background-color: #ffffff;
}
