.teacher {
  /* clip-path: circle(25% at 75% 50%); */
  /* background-image: url("https://source.unsplash.com/u8Jn2rzYIps/900x900") !important; */
  z-index: 1;
}
.text-gradient {
  font-size: 72px;
  background: linear-gradient(to right, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
