a {
  text-decoration: none !important;
}
.res2 {
  width: 15rem;
}

@media only screen and (max-width: 600px) {
  .res2 {
    width: 100% !important;
  }
}

.bg-grey:hover {
  background-color: lightblue;
}
