.contenedor {
  height: 100% !important;
  padding: 5% 0 !important;
}
a {
  text-decoration: none !important;
}
.container_foto {
  /* background-color: rgba(57, 62, 93, 0.7) !important; */
  padding: 0 !important;
  overflow: hidden !important;
  max-width: 350px !important;
  margin: 5px !important;
}

.container_foto article {
  padding: 10% !important;
  position: absolute !important;
  bottom: 0 !important;
  z-index: 1 !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  -ms-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

.container_foto h2 {
  color: #fff !important;
  font-weight: 800 !important;
  font-size: 25px !important;
  border-bottom: #fff solid 1px !important;
}

.container_foto h4 {
  font-weight: 300 !important;
  color: #fff !important;
  font-size: 16px !important;
}

.container_foto img {
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0.4 !important;
  -webkit-transition: all 4s ease !important;
  -moz-transition: all 4s ease !important;
  -o-transition: all 4s ease !important;
  -ms-transition: all 4s ease !important;
  transition: all 4s ease !important;
}

.ver_mas {
  top: 0 !important;
  /* background-color: #d1d1d1d0 !important; */
  position: absolute !important;
  width: 100% !important;
  height: 50% !important;
  bottom: 0 !important;
  z-index: 1 !important;
  opacity: 0 !important;
  transform: translate(0px, 70px) !important;
  -webkit-transform: translate(0px, 70px) !important;
  -moz-transform: translate(0px, 70px) !important;
  -o-transform: translate(0px, 70px) !important;
  -ms-transform: translate(0px, 70px) !important;
  -webkit-transition: all ease-in-out !important;
  -moz-transition: all ease-in-out !important;
  -o-transition: all ease-in-out !important;
  -ms-transition: all ease-in-out !important;
  transition: all ease-in-out !important;
  /* margin-left: -29px !important; */
  margin-bottom: 100% !important;
}

.ver_mas span {
  font-size: 20px !important;
  color: black !important;
  position: relative !important;
  margin: 0px !important;
  width: 100% !important;
  top: 0px !important;
  padding: 20px;
}

/*hovers*/

.container_foto:hover {
  cursor: pointer !important;
}

.container_foto:hover img {
  opacity: 0.1 !important;
  transform: scale(1.5) !important;
}

.container_foto:hover article {
  transform: translate(2px, -69px) !important;
  -webkit-transform: translate(2px, -69px) !important;
  -moz-transform: translate(2px, -69px) !important;
  -o-transform: translate(2px, -69px) !important;
  -ms-transform: translate(2px, -69px) !important;
}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px) !important;
  -webkit-transform: translate(0px, 0px) !important;
  -moz-transform: translate(0px, 0px) !important;
  -o-transform: translate(0px, 0px) !important;
  -ms-transform: translate(0px, 0px) !important;
  opacity: 1 !important;
}
