.teacherBg {
  background: linear-gradient(
    to right,
    #de1dde,
    #128fde
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url("../../Images/pinkbg.PNG"); */
  background-repeat: no-repeat;
  background-size: 100vw 25vh;
  background-position: bottom -80px;
}
