.res1 {
  width: 15rem;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.06);
}

@media only screen and (max-width: 600px) {
  .res1 {
    width: 100% !important;
  }
}
