.active {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text:hover {
  color: rgb(95, 63, 211) !important;
}
.text {
  font-size: 18px !important;
}
.navbar-toggler-icon {
  background-color: rgb(95, 63, 211) !important;
}
